version: "3.9"

services:
  frontend:
    build: ./frontend
    depends_on:
      - backend
    networks:
      - app-net

  backend:
    build: ./backend
    environment:
      MONGO_URL: mongodb://mongo:27017/appdb
    depends_on:
      - mongo
    networks:
      - app-net

  mongo:
    image: mongo:7
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net

networks:
  app-net:

volumes:
  mongo-data:
